{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% ifnotequal active '' %}{{ active| title }}{% else %}Films Library{% endifnotequal %}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="application/javascript">

        function clearConfirm()
        {
            if(window.confirm("Are you sure you want to clear {{ active| title }}?"))
                $.ajax({
                        type:'get',
                        url:'/lib',
                        data:{'clear':'{{ active }}'},
                        success:function(){
                            alert("{{  active|title}} table was successfuly cleared")
                            location.reload()
                        }

                })
        }
    </script>
</head>
<body style="width: 100%">

<h1 align="center">Movies Database</h1>
<ul class="nav nav-tabs">
    <li role="presentation" {% ifequal active 'movies' %}class="active"{% endifequal %}><a href="?active=movies">Movies</a></li>
    <li role="presentation" {% ifequal active 'actors' %}class="active"{% endifequal %}><a href="?active=actors">Actors</a></li>
    <li role="presentation" {% ifequal active 'directors' %}class="active"{% endifequal %}><a href="?active=directors">Directors</a></li>
    <li role="presentation" {% ifequal active 'studios' %}class="active"{% endifequal %}><a href="?active=studios">Studios</a></li>
    <li role="presentation" {% ifequal active 'genres' %}class="active"{% endifequal %}><a href="?active=genres">Genres</a></li>
    <li role="presentation" {% ifnotequal query ''%}class="active"{% endifnotequal %}><a href="?query=1">Queries</a></li>
    <li role="presentation" {% ifnotequal set_query ''%}class="active"{% endifnotequal %}><a href="?set-query=1">Set Queries</a></li>
</ul>

{% ifnotequal active '' %}
<table class="table table-hover">
    <thead>
        <tr>
            {% for i in headers %}
            <th>{{ i }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for i in elements %}
            <tr>
                <th scope="row">{{ i.0 }}</th>
                {% for j in i.1 %}
                    <td>
                    {% ifequal j.0 'text' %}
                        {{ j.1.0 }}
                    {% endifequal %}
                    {% ifequal j.0 'list' %}
                        <div class="list-group" style="height:85px;overflow-y:scroll ">
                        {% for t in j.1 %}
                            <div class="list-group-item" >{{ t }}</div>
                        {% endfor %}
                        </div>
                    {% endifequal %}
                    </td>
                {% endfor %}
                <form method="post">
                    {% csrf_token %}
                    <td>
                        <input class="form-control" type="hidden" value="{{ active }}" name="active">
                        <input class="form-control" type="hidden" value="{{ i.0 }}" name="id">
                        <input class="form-control" type="submit" value="Remove" name="remove">
    {#                    <input class="form-control" type="submit" value="Edit" name="edit">#}
                    </td>
                </form>
            </tr>
        {% endfor %}
    </tbody>
</table>

<form action="lib\add" style="text-align: center">
    <input type="hidden" value="{{ active }}" name="table">
    <div class="btn-group" role="group" aria-label="...">
          <input type="submit" value="Add Field" class="btn btn-default" name="add">
          <button type="button" onclick="clearConfirm()" class="btn btn-default" name="clear">Clear Table</button>
    </div>
</form>
{% endifnotequal %}

{% ifnotequal query '' %}
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" {% ifequal query '1' %} class="active"{% endifequal %}><a href="?query=1">Directors Films <span class="badge">{{ query_count }}</span></a></li>
        <li role="presentation" {% ifequal query '2' %} class="active"{% endifequal %}><a href="?query=2">Studio Films <span class="badge">{{ query_count }}</span></a></li>
        <li role="presentation" {% ifequal query '3' %} class="active"{% endifequal %}><a href="?query=3">Actors Studios <span class="badge">{{ query_count }}</span></a></li>
        <li role="presentation" {% ifequal query '4' %} class="active"{% endifequal %}><a href="?query=4">Actors Genres <span class="badge">{{ query_count }}</span></a></li>
        <li role="presentation" {% ifequal query '5' %} class="active"{% endifequal %}><a href="?query=5">Studios Directors <span class="badge">{{ query_count }}</span></a></li>
</ul>
    <form method="get" class="navbar-form navbar-left" role="search" style="margin-top: 20px;margin-left: 40px">
        <input type="hidden" name="query" value="{{ query }}">
        <input type="text" name="name" value="{{ q_name }}">
        <input type="submit">
    </form>

    <table class="table table-hover">
    <thead>
        <tr>
            {% for i in headers %}
            <th>{{ i }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for i in elements %}
            <tr>
                <th scope="row">{{ i.0 }}</th>
                {% for j in i.1 %}
                    <td>
                    {% ifequal j.0 'text' %}
                        {{ j.1.0 }}
                    {% endifequal %}
                    {% ifequal j.0 'list' %}
                        <div class="list-group" style="height:85px;overflow-y:scroll ">
                        {% for t in j.1 %}
                            <div class="list-group-item" >{{ t }}</div>
                        {% endfor %}
                        </div>
                    {% endifequal %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endifnotequal %}

{% ifnotequal set_query '' %}
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" {% ifequal set_query '1' %} class="active"{% endifequal %}><a href="?set-query=1">Movies with same or less actors <span class="badge">{{ query_count }}</span></a></li>
        <li role="presentation" {% ifequal set_query '2' %} class="active"{% endifequal %}><a href="?set-query=2">Movies with same genre <span class="badge">{{ query_count }}</span></a></li>
        <li role="presentation" {% ifequal set_query '3' %} class="active"{% endifequal %}><a href="?set-query=3">Directors with same genres <span class="badge">{{ query_count }}</span></a></li>
</ul>
    <form method="get" class="navbar-form navbar-left" role="search" style="margin-top: 20px;margin-left: 40px">
        <input type="hidden" name="set-query" value="{{ set_query }}">
        <input type="text" name="name" value="{{ q_name }}">
        <input type="submit">
    </form>

    <table class="table table-hover">
    <thead>
        <tr>
            {% for i in headers %}
            <th>{{ i }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for i in elements %}
            <tr>
                <th scope="row">{{ i.0 }}</th>
                {% for j in i.1 %}
                    <td>
                    {% ifequal j.0 'text' %}
                        {{ j.1.0 }}
                    {% endifequal %}
                    {% ifequal j.0 'list' %}
                        <div class="list-group" style="height:85px;overflow-y:scroll ">
                        {% for t in j.1 %}
                            <div class="list-group-item" >{{ t }}</div>
                        {% endfor %}
                        </div>
                    {% endifequal %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endifnotequal %}



{#<div align="center" style="width: 800px;margin: auto">#}
{#    <h2 style="margin-bottom: 40px" align="center">Team</h2>#}
{#    <div style="display: table;">#}
{#        <div style="width:400px;display: table-cell">#}
{#            <a href='https://vk.com/id34169008'><img width="200px" height="200px" src="{% static 'Ya.jpg' %}" alt="Team Lead" class="img-circle"></a>#}
{#             <label style="margin-left:50px">Team krasava</label>#}
{#        </div>#}
{#        <div style="width:400px;display: table-cell">#}
{#            <a href="https://vk.com/zorro1997"><img width="200px" height="200px" src="{% static 'Zorik.jpg' %}" alt="Team Lead" class="img-circle"></a>#}
{#            <label style="margin-left:50px">Javascript loh</label>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

</body>
</html>